openapi: 3.0.3
info:
  title: Canary LP API
  version: 1.2.0
  description: |
    Loss prevention intelligence for Square merchants.

    **29 blueprints**, **12 MCP servers**, **37 detection rules** across 10 categories and 3 execution tiers.
    221 live routes in the URL map as of 2026-04-22.

    **Live reference:** https://dev.growdirect.app/devops/api (Redoc)

    **Drift audit:** `python3 devops/scripts/api_spec_audit.py` — exits 0 when this spec
    is in sync with `app.url_map`. Last run: 2026-04-22 (104 endpoints not yet documented here;
    tracked as follow-up to GRO-169).
  contact:
    name: GrowDirect Engineering
  license:
    name: Proprietary
servers:
- url: https://canary.growdirect.app
  description: Production (Mac Mini, Cloudflare Tunnel — pending stand-up)
- url: https://dev.growdirect.app
  description: Development (Cloudflare Tunnel)
- url: http://localhost:5001
  description: Local Docker
tags:
- name: identity
  description: 'Domain 1: Merchants, users, roles, OAuth, tenant context'
- name: tsp-pipeline
  description: 'Domain 2: Webhook intake, stream processing, parsing'
- name: chirp
  description: 'Domain 3: Stateless detection rules, threshold config'
- name: alert
  description: 'Domain 4: Alert lifecycle, history, notifications'
- name: owl
  description: 'Domain 5: AI chat, personalities, MCP tools, reports'
- name: fox
  description: 'Domain 6: Case management, evidence locker, timeline'
- name: analytics
  description: 'Domain 7: Dashboard metrics, heatmaps, velocity'
- name: alx
  description: 'Domain 8: Agent memory (Tier 1 + Tier 2 Cognee)'
- name: raas
  description: 'Domain 9: Namespace resolution, onboarding (internal)'
- name: ops
  description: 'Domain 10: Health check runner, simulator, ops console'
- name: ui-bff
  description: 'Domain 11: Desktop + mobile rendering'
- name: condor
  description: 'Domain 12: External intelligence gateway (NRF benchmarks, SDK currency,
    tooling)'
components:
  securitySchemes:
    bearerJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Square OAuth JWT — sets g.merchant_id, g.user_id, g.roles
    hmacSignature:
      type: apiKey
      in: header
      name: X-Square-Hmacsha256-Signature
      description: HMAC-SHA256 webhook signature
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: Flask session cookie (UI routes)
  schemas:
    Error:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
      required:
      - error
    McpToolEnvelope:
      type: object
      properties:
        tool:
          type: string
        ok:
          type: boolean
        result:
          type: object
        timestamp:
          type: string
          format: date-time
      required:
      - tool
      - ok
      - timestamp
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
    AlertSummary:
      type: object
      properties:
        id:
          type: string
        rule_name:
          type: string
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
          - info
        alert_type:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    AlertDetail:
      allOf:
      - $ref: '#/components/schemas/AlertSummary'
      - type: object
        properties:
          source_table:
            type: string
          source_id:
            type: string
          employee_id:
            type: string
          location_id:
            type: string
          amount_cents:
            type: integer
          details:
            type: object
          history:
            type: array
            items:
              $ref: '#/components/schemas/AlertHistoryEntry'
    AlertHistoryEntry:
      type: object
      properties:
        status:
          type: string
        changed_by:
          type: string
        notes:
          type: string
        created_at:
          type: string
          format: date-time
    CaseSummary:
      type: object
      properties:
        case_id:
          type: string
        case_number:
          type: string
        title:
          type: string
        status:
          type: string
          enum:
          - open
          - investigating
          - pending_review
          - escalated
          - closed
        priority:
          type: string
        created_at:
          type: string
          format: date-time
    TimelineEntry:
      type: object
      properties:
        entry_type:
          type: string
        description:
          type: string
        created_by:
          type: string
        chain_hash:
          type: string
        created_at:
          type: string
          format: date-time
    EvidenceItem:
      type: object
      properties:
        evidence_id:
          type: string
        evidence_type:
          type: string
        description:
          type: string
        raas_ref:
          type: string
        created_at:
          type: string
          format: date-time
    OwlChatResponse:
      type: object
      properties:
        ok:
          type: boolean
        personality:
          type: string
          enum:
          - jim
          - tom
          - phd
        message:
          type: string
        output_type:
          type: string
          enum:
          - alert_set
          - memo
          - checklist
          - number
        data:
          type: object
        actions:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              label:
                type: string
        closes_to:
          type: string
        routing:
          type: object
    OwlActionRequest:
      type: object
      properties:
        action:
          type: string
          enum:
          - case_create
          - follow_up
          - resolve
          - dismiss
          - archive
          - share
          - checklist_start
          - template_save
          - drill_down
        alert_ids:
          type: array
          items:
            type: string
        data:
          type: object
      required:
      - action
    WebhookReceipt:
      type: object
      properties:
        status:
          type: string
          enum:
          - accepted
          - rejected
          - unavailable
        event_id:
          type: string
        received_at:
          type: string
          format: date-time
        duplicate:
          type: boolean
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
        version:
          type: string
        service:
          type: string
    ReadinessResponse:
      type: object
      properties:
        ready:
          type: boolean
        databases:
          type: object
        services:
          type: object
    MerchantProfile:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        business_name:
          type: string
        email:
          type: string
        phone:
          type: string
        created_at:
          type: string
          format: date-time
    DetectionRule:
      type: object
      properties:
        rule_id:
          type: string
        name:
          type: string
        category:
          type: string
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
          - info
        description:
          type: string
    DashboardData:
      type: object
      properties:
        period_actuals:
          type: object
        period_baselines:
          type: object
        scored_metrics:
          type: array
          items:
            type: object
        health_score:
          type: number
        is_demo:
          type: boolean
    HealthCheckReport:
      type: object
      properties:
        ok:
          type: boolean
        executive_summary:
          type: string
        findings:
          type: array
          items:
            type: object
        lp_assessment:
          type: string
        ops_assessment:
          type: string
        analytics_assessment:
          type: string
        top_priority:
          type: string
        positive_notes:
          type: string
        outlook:
          type: string
        heartbeat_score:
          type: number
        heartbeat_band:
          type: string
        session_id:
          type: string
    ReceiptProof:
      type: object
      properties:
        status:
          type: string
          enum:
          - verified
          - verified_pending_inscription
          - not_found
        verified:
          type: boolean
        event_hash:
          type: string
        event_id:
          type: string
        chain_hash:
          type: string
        chain_position:
          type: integer
        received_at:
          type: string
          format: date-time
paths:
  /admin/config/save:
    post:
      operationId: admin_config_save
      summary: POST /admin/config/save
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /admin/users/<user_id>/deactivate:
    post:
      operationId: admin_user_deactivate
      summary: POST /admin/users/<user_id>/deactivate
      tags:
      - ui-bff
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /admin/users/<user_id>/role:
    post:
      operationId: admin_user_role
      summary: POST /admin/users/<user_id>/role
      tags:
      - ui-bff
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /admin/users/<user_id>/update:
    post:
      operationId: admin_user_update
      summary: POST /admin/users/<user_id>/update
      tags:
      - ui-bff
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /admin/users/create:
    post:
      operationId: admin_user_create
      summary: POST /admin/users/create
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /admin/users/invite:
    post:
      operationId: admin_user_invite
      summary: POST /admin/users/invite
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /alert/<alert_id>/action:
    post:
      operationId: app_alert_action
      summary: Direct alert action endpoint — resolve/dismiss/open-case from alert
        detail.
      tags:
      - ui-bff
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /alert/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /alert/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /alert/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /alert/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /analytics/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /analytics/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /analytics/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /analytics/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/alerts/:
    get:
      operationId: list_alerts
      summary: GET /
      tags:
      - alert
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/alerts/<alert_id>:
    get:
      operationId: get_alert
      summary: GET /<alert_id>
      tags:
      - alert
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/alerts/<alert_id>/dismiss:
    put:
      operationId: dismiss_alert
      summary: PUT /<alert_id>/dismiss
      tags:
      - alert
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/alerts/<alert_id>/escalate:
    post:
      operationId: escalate_alert
      summary: POST /<alert_id>/escalate
      tags:
      - alert
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/alerts/<alert_id>/investigate:
    put:
      operationId: investigate_alert
      summary: PUT /<alert_id>/investigate
      tags:
      - alert
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/alerts/<alert_id>/open-case:
    post:
      operationId: open_case
      summary: POST /<alert_id>/open-case
      tags:
      - alert
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/alerts/summary:
    get:
      operationId: get_summary
      summary: GET /summary
      tags:
      - alert
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/analytics/dashboard:
    get:
      operationId: get_dashboard
      summary: Period summary with health score and scored metrics.
      tags:
      - analytics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/analytics/drilldown:
    get:
      operationId: get_drilldown
      summary: Detailed view for a single entity (employee or location).
      tags:
      - analytics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/analytics/export:
    get:
      operationId: export_report
      summary: Export report (CSV stub — future implementation).
      tags:
      - analytics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/analytics/top-risks:
    get:
      operationId: get_top_risks
      summary: Top risk employees and locations.
      tags:
      - analytics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/analytics/trends:
    get:
      operationId: get_trends
      summary: Trend data for a single metric across periods.
      tags:
      - analytics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/categories:
    get:
      operationId: list_categories
      summary: GET /categories
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/config:
    get:
      operationId: get_config
      summary: GET /config
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/rules:
    get:
      operationId: list_rules
      summary: GET /rules
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/rules/<rule_id>:
    get:
      operationId: get_rule
      summary: GET /rules/<rule_id>
      tags:
      - chirp
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/rules/<rule_id>/thresholds:
    put:
      operationId: set_rule_thresholds
      summary: PUT /rules/<rule_id>/thresholds
      tags:
      - chirp
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
    delete:
      operationId: reset_rule_thresholds
      summary: DELETE /rules/<rule_id>/thresholds
      tags:
      - chirp
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/sensitivity:
    get:
      operationId: list_sensitivity_levels
      summary: List available sensitivity presets with multipliers.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/sensitivity/estimate:
    post:
      operationId: estimate_rule_sensitivity
      summary: Estimate the closest sensitivity level for a rule's current thresholds.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/sensitivity/preview:
    post:
      operationId: preview_sensitivity
      summary: Preview adjusted thresholds for a rule at a given sensitivity.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/summary:
    get:
      operationId: config_summary
      summary: Get a summary of the merchant's current rule configuration vs defaults.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/sweep:
    post:
      operationId: trigger_sweep
      summary: POST /sweep
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/templates:
    get:
      operationId: list_templates
      summary: List available rule configuration templates.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/templates/apply:
    post:
      operationId: apply_template_endpoint
      summary: Apply a template to the merchant's rule configuration.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/templates/preview:
    post:
      operationId: preview_template
      summary: Preview what a template would produce across all rules.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/chirp/validate:
    post:
      operationId: validate_rule_thresholds
      summary: Validate proposed thresholds for a rule before saving.
      tags:
      - chirp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/employees/:
    get:
      operationId: get_employees
      summary: GET /
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/employees/<employee_id>:
    get:
      operationId: get_employee
      summary: GET /<employee_id>
      tags:
      - identity
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/employees/<employee_id>/alerts:
    get:
      operationId: get_employee_alerts
      summary: GET /<employee_id>/alerts
      tags:
      - identity
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/employees/<employee_id>/risk:
    get:
      operationId: get_employee_risk
      summary: GET /<employee_id>/risk
      tags:
      - identity
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/employees/<employee_id>/transactions:
    get:
      operationId: get_employee_transactions
      summary: GET /<employee_id>/transactions
      tags:
      - identity
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases:
    get:
      operationId: get_cases
      summary: GET /cases
      tags:
      - fox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
    post:
      operationId: create_case
      summary: POST /cases
      tags:
      - fox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases/<case_id>:
    get:
      operationId: get_case
      summary: GET /cases/<case_id>
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
    put:
      operationId: update_case
      summary: PUT /cases/<case_id>
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases/<case_id>/actions:
    post:
      operationId: add_action
      summary: POST /cases/<case_id>/actions
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases/<case_id>/evidence:
    post:
      operationId: add_evidence
      summary: POST /cases/<case_id>/evidence
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
    get:
      operationId: get_evidence
      summary: GET /cases/<case_id>/evidence
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases/<case_id>/evidence/<evidence_id>:
    get:
      operationId: get_evidence_item
      summary: GET /cases/<case_id>/evidence/<evidence_id>
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      - name: evidence_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases/<case_id>/evidence/verify:
    get:
      operationId: verify_evidence
      summary: GET /cases/<case_id>/evidence/verify
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases/<case_id>/subjects:
    post:
      operationId: add_subject
      summary: POST /cases/<case_id>/subjects
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/fox/cases/<case_id>/timeline:
    get:
      operationId: get_timeline
      summary: GET /cases/<case_id>/timeline
      tags:
      - fox
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/locations/:
    get:
      operationId: get_locations
      summary: GET /
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/locations/<location_id>:
    get:
      operationId: get_location
      summary: GET /<location_id>
      tags:
      - identity
      parameters:
      - name: location_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
    put:
      operationId: update_location
      summary: PUT /<location_id>
      tags:
      - identity
      parameters:
      - name: location_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/locations/<location_id>/stats:
    get:
      operationId: get_location_stats
      summary: GET /<location_id>/stats
      tags:
      - identity
      parameters:
      - name: location_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/merchants/profile:
    get:
      operationId: get_merchant_profile
      summary: GET /profile
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
    put:
      operationId: update_merchant_profile
      summary: PUT /profile
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/merchants/settings:
    get:
      operationId: get_merchant_settings
      summary: GET /settings
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
    put:
      operationId: update_merchant_settings
      summary: PUT /settings
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/receipt/by-event/<event_id>:
    get:
      operationId: receipt_by_event_id
      summary: Look up event receipt by ULID event_id.
      tags:
      - tsp-pipeline
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/receipt/by-hash/<event_hash_hex>:
    get:
      operationId: receipt_by_hash
      summary: Look up event receipt by SHA-256 hash (hex-encoded).
      tags:
      - tsp-pipeline
      parameters:
      - name: event_hash_hex
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /api/receipt/health:
    get:
      operationId: receipt_health
      summary: Health check for receipt endpoint.
      tags:
      - tsp-pipeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /auth/clear-session:
    get:
      operationId: clear_session
      summary: Nuclear session reset — hit this URL when login state is stuck.
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /auth/join-interest:
    post:
      operationId: join_interest
      summary: Capture email for the beta interest list.
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /auth/login-page:
    get:
      operationId: login_page
      summary: 'Landing page: Canary bird + Connect with Square button.'
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /auth/session-login:
    post:
      operationId: session_login_redirect
      summary: 'Deprecated: redirects to landing page.'
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /auth/session-logout:
    post:
      operationId: session_logout
      summary: Clear Flask session and redirect to landing page.
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /bff/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /bff/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /bff/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /bff/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /case/<case_number>/status:
    post:
      operationId: app_case_status
      summary: Update Fox case status (lifecycle transition).
      tags:
      - ui-bff
      parameters:
      - name: case_number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /chirp/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /chirp/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /chirp/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /chirp/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /condor/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /condor/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /condor/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /condor/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /connect:
    get:
      operationId: app_connect
      summary: 'Onboarding interstitial: capture week setup + health check choice.'
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
    post:
      operationId: app_connect_post
      summary: Save week prefs and dispatch merchant choice.
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /connect/status/<session_id>:
    get:
      operationId: app_connect_status
      summary: Poll health check session state for /connect progress indicator.
      tags:
      - ui-bff
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /drill:
    post:
      operationId: app_drill_entry
      summary: Direct drill entry — calls drill_search (the one service).
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /fox/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /fox/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /fox/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /fox/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /health/:
    get:
      operationId: health
      summary: GET /health
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /health/readiness:
    get:
      operationId: readiness
      summary: GET /readiness
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /identity/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /identity/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /identity/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /identity/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /oauth/disconnect:
    post:
      operationId: disconnect
      summary: POST /disconnect
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /oauth/factory-reset:
    post:
      operationId: factory_reset_endpoint
      summary: 'Sandbox-only: full factory reset — truncate all transactional data,'
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /oauth/merchant-reset:
    post:
      operationId: merchant_reset_endpoint
      summary: 'Sandbox-only: tenant-scoped reset — delete all data for the current'
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /oauth/refresh:
    post:
      operationId: refresh
      summary: POST /refresh
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /oauth/reset-onboarding:
    get:
      operationId: reset_onboarding
      summary: 'Sandbox-only: full factory reset — truncate all transactional data,'
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /oauth/sandbox:
    get:
      operationId: sandbox
      summary: 'Dev shortcut: store sandbox tokens directly, skip OAuth flow.'
      tags:
      - identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /ops/api/chirp-lab/live-fire:
    post:
      operationId: api_live_fire
      summary: Create a real payment in Square sandbox.
      tags:
      - ops
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /ops/api/scenario/fire:
    post:
      operationId: api_scenario_fire
      summary: Fire a named scenario — creates real Square sandbox payments.
      tags:
      - ops
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /ops/api/scenario/verify-owl:
    post:
      operationId: api_scenario_verify_owl
      summary: Run Owl verification queries for a completed scenario (GRO-206).
      tags:
      - ops
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /owl/action:
    post:
      operationId: execute_action
      summary: Execute a closed-loop action from an Owl chat response.
      tags:
      - owl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /owl/chat:
    post:
      operationId: chat
      summary: Personality-routed chat with closed-loop response envelopes.
      tags:
      - owl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /owl/drill:
    post:
      operationId: owl_drill
      summary: Execute a drill-down from a grouped result row (JWT auth).
      tags:
      - owl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /owl/health-check:
    post:
      operationId: health_check_report
      summary: Generate a full health check report using all three Owl personalities.
      tags:
      - owl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /owl/heartbeat:
    post:
      operationId: heartbeat
      summary: 'Convenience: store heartbeat for this merchant.'
      tags:
      - owl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /owl/one-thing:
    post:
      operationId: one_thing
      summary: 'Convenience: get The One Thing for this merchant.'
      tags:
      - owl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /raas/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /raas/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /raas/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /raas/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /refresh:
    post:
      operationId: app_refresh
      summary: Pull-to-refresh endpoint — returns updated One Thing + alert counts.
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /reports/run:
    post:
      operationId: app_reports_run
      summary: Trigger a health check from the Reports page (session auth).
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /rule/<rule_id>/reset:
    post:
      operationId: app_rule_reset
      summary: Reset a rule to defaults — delete merchant config.
      tags:
      - ui-bff
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /rule/<rule_id>/save:
    post:
      operationId: app_rule_save
      summary: Save rule editor changes — toggle + thresholds.
      tags:
      - ui-bff
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /settings/general:
    post:
      operationId: app_settings_general
      summary: Save general merchant settings (timezone, currency, language, date
        format).
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /settings/notifications:
    post:
      operationId: app_settings_notifications
      summary: Save notification preferences.
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
  /tsp/health:
    get:
      operationId: _health
      summary: Service health check
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /tsp/manifest:
    get:
      operationId: _manifest
      summary: MCP server manifest
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /tsp/tools:
    get:
      operationId: _tools
      summary: List available tools
      tags:
      - other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /tsp/tools/{tool_name}:
    post:
      operationId: _tools_tool_name
      summary: Invoke a tool
      tags:
      - other
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - bearerJwt: []
  /webhooks/health:
    get:
      operationId: health
      summary: Health check — queue status + uptime. TSP-01 §113-126.
      tags:
      - tsp-pipeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - hmacSignature: []
  /webhooks/live:
    get:
      operationId: live
      summary: Liveness probe — process running? TSP-01 §136-138.
      tags:
      - tsp-pipeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - hmacSignature: []
  /webhooks/ready:
    get:
      operationId: ready
      summary: Readiness probe — can accept webhooks? TSP-01 §128-132.
      tags:
      - tsp-pipeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - hmacSignature: []
  /welcome/complete:
    post:
      operationId: app_welcome_complete
      summary: Save Quick Setup settings, mark onboarding done, redirect to /home.
      tags:
      - ui-bff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
      - sessionCookie: []
